<h1>Editing input form</h1>

<%= render "form", input_form: @input_form %>

<br>

<div>
  <%= link_to "Show this input form", @input_form %> |
  <%= link_to "Back to input forms", input_forms_path %>
</div>
